@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100..700&family=Roboto:wght@100;300;400;500;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-6xl font-bold pb-8;
  }
  h2 {
    @apply text-4xl font-medium pb-6;
  }
  h3 {
    @apply text-2xl font-medium pb-5;
  }
  h4 {
    @apply text-lg font-medium pb-4;
  }

  p {
    @apply tracking-wide pb-4 text-lg;
  }

  p a {
    @apply text-sky-500 hover:text-sky-700;
  }

  img {
    transition: opacity 1.5s;
  }

  img.lazy {
    opacity: 0;
  }

  .h-fscreen {
    min-height: 100vh;
    min-height: 100dvh;
  }
}

@layer components {
  .line {
    @apply block bg-black w-5 h-0.5 absolute left-0 rounded-sm transition-all duration-300;
  }

  .line.line-1 {
    @apply top-0;
  }

  .line.line-2 {
    @apply top-1/2;
  }

  .line.line-3 {
    @apply top-full;
  }

  .active .line-1 {
    transform: translateY(6px) translateX(0) rotate(45deg);
    -webkit-transform: translateY(6px) translateX(0) rotate(45deg);
    -moz-transform: translateY(6px) translateX(0) rotate(45deg);
  }

  .active .line-2 {
    @apply opacity-0;
  }

  .active .line-3 {
    transform: translateY(-6px) translateX(0) rotate(-45deg);
    -webkit-transform: translateY(-6px) translateX(0) rotate(-45deg);
    -moz-transform: translateY(-6px) translateX(0) rotate(-45deg);
  }

  .navitems {
    @apply w-full flex flex-col md:flex-row justify-center md:mx-auto text-gray-500 tracking-widest gap-y-2 gap-x-8 md:gap-x-16 uppercase;

    & > a {
      @apply hover:text-black;
    }
  }

  .section {
    @apply container mx-auto px-4 py-20;

    & > div {
      @apply mx-auto max-w-[1100px];
    }

    & p {
      @apply max-w-[950px];
    }
  }

  .accordion {
    @apply cursor-pointer;

    &__header {
      @apply flex justify-between items-start h-full text-gray-500 hover:text-black;

      .active & {
        @apply text-black;
      }
    }

    &__body {
      @apply px-5 overflow-hidden max-h-0 mb-4 mr-4 transition-[max-height] duration-500;

      .active & {
        @apply max-h-80;
      }
    }
  }

  .featured {
    @apply flex flex-wrap lg:flex-nowrap max-w-[950px] mx-auto pb-4 gap-4 items-center justify-evenly text-white;

    & img {
      @apply h-8 md:h-10 w-auto opacity-60;
    }
  }

  .projects {
    @apply flex flex-row flex-wrap gap-y-10 justify-between;
  }

  .project {
    @apply h-full grid md:max-w-[600px] lg:max-w-[450px] xl:max-w-[500px] content-between;

    & .image {
      @apply mb-4 h-20;
    }

    &__heading {
      @apply inline-flex w-full items-end justify-between mb-4;

      h3 {
        @apply text-neutral-600 tracking-wide uppercase pb-0;
      }

      a {
        @apply hover:text-black;
      }

      & .links {
        @apply text-gray-500 inline-flex gap-4 mr-4 mb-1;
      }
    }
  }
}
